$gray : #777;
$gray--light: #B5B5B5;
$gray--dark: #23282d;
$gray--extra-dark: #111116;
$white : #FFF;
$black : #000;

$black-overlay--6 : rgba(0,0,0,0.6);
$black-overlay--4 : rgba(0,0,0,0.4);
$black-overlay--2 : rgba(0,0,0,0.2);