@import 'grid';
@import 'colors';
@import 'fonts';
@import 'comp_port_item';
@import 'comp_clean_head';
@import 'comp_clean_section';

@import 'material';
@import 'animate';
@import 'slide';

/* GLOBAL */

* {
  box-sizing: border-box;
  text-shadow: none;
}

body {
  margin: 0;
  background-color: $gray--extra-dark;
}